doctype html
html(ng-app='tictactoeapp')
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='/lib/angular/angular.js')
		script(src='/js/controller.js')
	body(ng-controller="ttListCtrl")
		h1 Tic Tac Toe Application
		section(class="tiledesgn")
			button(ng-repeat= "tile in tiles", ng-click="assignValue(tile)", ng-disabled="IsOver") {{tile.player}}
		button(ng-click="createNewGame()") NewGame
		h2 {{status}}